<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hhird.harsh123.com.learnerapp">
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LearnerApp"
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profileactivity" />
        <activity android:name=".signupactivity" />
        <activity android:name=".StudentAvtivity" />
        <activity android:name=".getuser" />
        <activity android:name=".tutorials" />
        <activity android:name=".Teacherquestions" />
        <activity android:name=".test_title" />
        <activity android:name=".test1" />
        <activity android:name=".quesinput" />
        <activity android:name=".pract_title" />
        <activity android:name=".sub_screen_for_teacher_uploads" />
        <activity android:name=".display_score" />
        <activity android:name=".TeacherActivity" />
        <activity android:name=".teacheraskpassword" />
        <activity android:name=".learningpage" />
        <activity android:name=".videoactivity"></activity>
    </application>

</manifest>